/* Accordion styles created by Jordan Onwodi */
.accordion {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.accordion__toggle {
  opacity: 0;
}

.accordion__options {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.chevron {
  display: flex;
  width: 30px;
  height: 30px;
}

.accordian__buttons {
  display: flex;
  width: 30px;
  height: 30px;
}
