/* src/Indicator.css */
.indicator {
    width: 50px; /* Adjust size as needed */
    height: 50px; /* Adjust size as needed */
    border-radius: 50%;
    display: inline-block;
    margin: 5px;
  }
  
  .yellow {
    background-color: yellow;
  }
  
  .red {
    background-color: red;
  }
  
  .green {
    background-color: green;
  }